@import "normalize.css";
* {
    box-sizing: border-box;

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h1  {
    text-align: center;
}
.time-score {
    display: flex;

}
    .time-score__life, .time-score__points, .time-score__time {
        padding: 10px;
        font-size: 25px;
        border: 1px solid #000;
    }
    .time-score__life {
        margin-right: 5px;
    }
    .time-score__time {
        margin-left: auto;
    }
.table-content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.table {
    border-spacing: 15px;

}
 .tiles {
     display: flex;
     flex-flow: wrap;
     justify-content: center;
     margin-bottom: 50px;
 }
  .tiles__tile, td {
      width: 40px;
      height: 40px;
      border: 1px solid #000;

  }
  .active {
      background: green;
  }
  .btns {
      display: flex;
      justify-content: center;
  }
  .btns__start, .btns__reset {
      border: 1px solid #000;
      font-size: 25px;
      padding: 15px 30px;


  }
  .btns__start {
      margin-right: 50px;
  }

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
